<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'hotel_app/base.html' %}
{% block content %}

<section style="background-color: #eee;">

  <div class="container py-5">

    <div class="row">
        {% for room in rooms %}
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Комната</p>
            <div
              class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
              <p class="text-white mb-0 small"></p>
            </div>
          </div>
          <img src="{{ room.image.url }}"  height="240"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Вместимость: {{ room.capacity }} человек</a></p>
              <p class="small text-danger"><s></s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">"{{ room.name }}"</h5>
              <h5 class="text-dark mb-0">{{ room.price }} сом</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0"><span class="fw-bold"></span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <a href="{{ room.id }}/"><button class="btn btn-primary" type="submit">Посмотреть</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </div>

</section>

{% endblock %}
</body>
</html>